body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/bg-repeat.jpg');
    min-height: 100vh;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    gap: 3.75rem;
}

.info {
   max-width: 300px;
   color: #FFFFFF;
}

.info h1 {
    font-weight: 900;
    font-size: 1.25rem;
    margin-bottom: 0.68rem;
}

.info p {
    font-weight: 400;
    font-size: 0.93rem;
}

.formulario {
    background-color: #FFFFFF;
    max-width: 340px;
    height: 382px;
    display: flex;
    justify-content: center;
    padding: 1.25rem;
}

.formulario input {
    width: 18.62rem;
    height: 35px;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid black;
}

.formulario input::placeholder, textarea::placeholder {
    font-weight: 700;
    font-size: 0.93rem;
    color: #A8A8A8;
}

.formulario textarea {
    width: 18.62rem;
    height: 100px;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid black;
    resize: none;
}

.formulario .aviso {
    font-weight: 400;
    font-size: 0.93rem;
    margin-bottom: 15px;
}

.formulario button {
    width: 18.62rem;
    height: 41px;
    background-color: #3CCC87;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 0.93rem;
    cursor: pointer;
}

.campo-obrigatorio {
    font-weight: 400;
    font-size: 8px;
    color: #F52E2E;
    margin-bottom: 5px;
    opacity: 0;
}

.campo-obrigatorio.nao-preenchido {
    opacity: 1;
}

.input.nao-preenchido {
    border: 1px solid #F52E2E;
}

.input.preenchido {
    border: 1px solid #00C22B;
}